body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: cornflowerblue;
}

.box {
  padding: 5%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: lavenderblush;
}

.java {
  display: none;
}

.ruby {
  display: none;
}

.react {
  display: none;
}
